extends layout/mainLayout.pug
block content
    form(action="/create" method="POST")
        div.form-group
            label(for="Name") Name:
                input.form-control.form-text.text-muted(type="text" id="name" name="name" placeholder="Enter Name")
        div.form-group
            label(for="Name") Phone No.:
                input.form-control.form-text.text-muted(type="number" id="phone" name="phone" placeholder="Enter Phone No")
        div.form-group
            label(for="Name") Email:
                input.form-control.form-text.text-muted(type="email" id="name" name="email" placeholder="Enter Email")
            
          
        input.btn.btn-primary(type="submit" value="Save") 