extends layout/mainLayout.pug
block content
    div
        h3 Edit Contact Details
        form(action=`/edit/${output.id}` method="POST")
            div.form-group
                label(for="name") Name:
                    input.form-control(type="text" name="name" value= output.name)
            div.form-group
                label(for="phone") Phone:
                    input.form-control(type="number", name="phone" value = output.phone )
            div.form-group
                label(for="email") Email:
                    input.form-control(type="text" name="email" value = output.email) 
            button.btn.btn-primary(type="submit") update