extends layout/mainLayout.pug

block content
    h1 PhoneBook
    div
            table.table
                thread
                    tr 
                        th FullName
                        th Phone
                        th Email
                        th Actions
                each contact in allContacts
                 tbody
                    tr
                        td 
                            h4 #{contact.name}
                        td 
                            h4 #{contact.phone}
                        td 
                            h4 #{contact.email}
                        td
                            a.btn.btn-primary(href="/edit/" +contact.id) Edit
                            |
                            |
                            a.btn.btn-primary(href="/delete/" +contact.id) Delete