<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title #{pageTitle}
    body
        nav
           a(href="/" class= path==="/"? "active": "" ) Phonebook
           a(href="/add" class=path==="/add" ? "active": "") Add contact
        block content